body{
    margin: 0px;
    padding: 0px;
    height: 100vh;
    background-image: linear-gradient(to right, #222226, black);
}

#main{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap-reverse;
    align-items: center;
}

/* Theme changer CSS */

#theme-toggle{
    display: inline-block;
    box-sizing: border-box;
    padding-top: 8%;
    width: 30%;
    height: 770px;
    vertical-align: top;
}

@media screen and (max-width: 870px){
    #theme-toggle{
        display: inline-block;
        box-sizing: border-box;
        padding-top: 8%;
        width: 100%;
        height: 770px;
        vertical-align: top;
    }
}

#heading1{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p{
    color: #62dfd8;
    font-size: smaller;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.2rem;
}

#heading2{
    color: whitesmoke;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


#heading4{
    color: whitesmoke;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.toggle-switch{
	position: relative;
	display: inline-block;
	height: 30px;
	width: 60px;
	background-color: lightgrey;
	border-radius: 20px;
	cursor: pointer;
}

.toggle-switch input{
	opacity: 0;
	height: 0px;
	width: 0px;
}

.slider{
	display: inline-block;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	height: 30px;
	width: 60px;
	transition: 0.3s;
	border-radius: 20px;
}

.slider:before{
	position: absolute;
	content: "";
	top: 2px;
	left: 2px;
	right: 0px;
	bottom: 0px;
	height: 25px;
	width: 25px;
	background-color: teal;
	border-radius: 50%;
	cursor: pointer;
	transition: 0.3s;
}

input:checked + .slider:before{
    transform: translateX(30px);
    background-color: tomato;
}

.theme-caption{
    color: whitesmoke;
    font-size: small;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

/* Calculator App CSS */

#calculator-app{
    display: inline-block;
    text-align: center;
    margin-top:2.5%;
    color: wheat;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: larger;
    width: 610px;
    /* background-color: red; */
}

table{
    background-image: linear-gradient(45deg, #5b5a5a, #020712);
    border-collapse: collapse;
}

td{
    box-sizing: border-box;
    height: 100px;
    width: 150px;
    border: 1px solid rgb(39, 35, 35);
    cursor: pointer;
}

td:active{
    background-color: rgb(39, 35, 35);
    transform: scale(0.98, 0.98);
}

#caption{
    height: 20px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}

#user-screen{
    height: 150px;
    background-color: #34353d;
    font-size: 40px;
    text-align: right;
}

.operations{
    background-color: #1b827d;
}

.operations:active{
    background-color: #145f5b;
}

@media screen and (max-width: 870px){
    
	#calculator-app{
	    display: inline-block;
	    text-align: center;
/* 	    margin-top:2.5%; */
	    color: white;
	    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	    font-size: larger;
	    width: 610px;
	    height: 700px;
	    /* background-color: red; */
	}
}
